################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/envFlaskRestAPI
/ChatBot - KBA.docx
/.env
/ChatBot - KBA Rest API.docx
